@font-face{
	font-family: 'inconsolata';
	
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'playfair_display';
	font-style: normal;
	font-weight: normal;
}

body{
	font-family: 'playfair_display';
	font-size: 14pt;
	color: #626262;
}
.navbar-brand{
	font-family: 'inconsolata';
	text-transform: uppercase;
	font-size: 30pt;
}

.bg-light{
	background-color: none;
}

#banner img{
	width: 100%;
}
.duc{
	padding-right: 0;
	padding-left: 0;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 100px;
}
.container{
    max-width: 1062px;
}
}

.navbar{
	text-transform: uppercase;
	padding: .5rem 0;
}

.document{
	margin-top: 100px;
}

.category{
	color: #b4ad9e;
	font-family: 'Ubuntu';
	margin-bottom: 30px;
}
.thumbnail{
	margin-bottom: 29px;
}
.title{
	font-size: 29pt;
	margin-bottom: 39px;
}
.description .text{
	margin-top: 40px;
}
.description .note{
	margin-top: 50px;
	color: #b4ad9e;
	font-family: 'Ubuntu';
}

.item{
	margin-bottom: 130px;
}
.posts{
	margin-top: 130px;
}
.thumbnail img{
	width: 100%;
	height: 100%;
}
.row{
	margin-left: 0;
	margin-right: 0;
}

li{
	list-style-type: none;
}
.foot-left li,.foot-right li{
	display: inline-block;
	color: #000000;
	padding:0 0 0px 20px;
	margin-left:-15px;
}

ul{
	margin-bottom: 0;
}

footer{
	background-color: #f0f0f0;
	height: 100px;
}
.foot{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul {
    padding-inline-start: 0px;
}

.sign-up{
	background-color: #f0f0f0;
	height: 290px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input{
	position: relative;
}
.input input{
	background-color: #f0f0f0;
	border: none;
	border-bottom: 1px solid #000000;
	width: 100%;
	margin-right: 50px;
}
.input i{;
	position: absolute;
	right:10px;
	top:50%;
	transform:rotate(45deg) translateY(-50%); 
	}
.final-post{
	margin-top:100px;

}

.load p{
	font-size: 20pt;
	padding: 20px 30px;
	border: 1px solid black;
}

.load{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1300px;
}

@media (max-width: 568px){
	body{
		font-size: 11pt;
	}
	.load p{
		font-size: 14pt;
	}
	footer{
		height: auto;
	}
	.foot{
		flex-direction: column;
		align-items: flex-start;
	}
	.foot-left{
		display: flex;
		flex-direction: column;
	}
	.title{
		font-size: 16pt;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.description .text{
		margin-top: 25px;
	}
	.category{
		margin-bottom: 10px;
	}
	.item{
		margin-bottom: 70px;
	}
	.thumbnail{
		margin-bottom: 20px;
	}
	.row{
		margin-bottom: 100px;
	}
}
	
