<footer class="mt-4">
	<div class="container">
	<div class="dit">
		<img src="assets/images/logo.jpg" alt="">
		<p class="sky ml-2 mr-1">SKY</p>
		<p class="sports">THỂ THAO</p>
  </div>
	<div class="information">
		<div class="company">
			<p>Trang thông tin điện tử tổng hợp</p>
			<p>CÔNG TY CỔ PHẦN DỊCH VỤ TRUYỀN THÔNG SKY THỂ THAO</p>
			<p>Chịu trách nhiệm nội dung: Nguyễn Trần Nhật Đức</p>
			<p>Giấy phép số 1749/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 28/04/2017.</p>
			<a href="#">Liên hệ quảng cáo</a>
		</div>
		<div class="email-address">
			<p><span class="bold">Địa chỉ giao dịch: </span>14 ngõ 4, Nguyễn Đình Chiểu, Quận Hai Bà Trưng, Hà Nội</p>
			<p><span class="bold"> Điện thoại:</span> 094.765.3873</p>
			<p><span class="bold">Email: </span>contact@skythethao.com</p>
		</div>
	</div>
	</div>
</footer>