	<header>
	<div class="head">
	<div class="container d-flex justify-content-between">
	<div class="dit">
		<img src="assets/images/logo.jpg" alt="">
		<p class="sky ml-2 mr-1">SKY</p>
		<p class="sports">THỂ THAO</p>
  </div>
  <div class="dits">
		<p>Bộ sưu tập</p>
		<form>
			<input type="search" name="search" placeholder="Tìm kiếm"><i class="fas fa-search"></i>
		</form>
	</div>
	</div>
	</div>
	<div id="list">
		<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-5">
        <a class="nav-link active w-auto" href="home.html">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<div class="d-flex flex-wrap box-size justify-content-between">
          <a class="dropdown-item w-50" href="tinthethao.html">Bóng đá</a>
          <a class="dropdown-item w-50" href="#">Đạp xe</a>
          <a class="dropdown-item w-50" href="#">Bóng chày</a>
          <a class="dropdown-item w-50" href="#">Đua xe</a>
          <a class="dropdown-item w-50" href="#">Golf</a>
          <a class="dropdown-item w-50" href="#">Bóng bầu dục</a>
          <a class="dropdown-item w-50" href="#">Boxing</a>
          <a class="dropdown-item w-50" href="#">Esport</a>
          <a class="dropdown-item w-50" href="#">Tennis</a>
          <a class="dropdown-item w-50" href="#">Bóng chuyền</a>
        </div>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link active w-auto" href="#">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active w-auto" href="#">Chuyên gia</a>
      </li>
    </ul>
  </div>
</nav>
	</div>
	</div>
	</header>