<header>
  <div class="head">
	<div class="container d-flex justify-content-center">
	<a href="index.html" class="dit">
		<img src="assets/images/logo.jpg" alt="">
		<p class="sky ml-2 mr-1">SKY</p>
		<p class="sports">THỂ THAO</p>
  </a>
	</div>
	</div>
	<div id="list">
		<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-5">
        <a class="nav-link active w-auto" href="index.html">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<div class="d-flex flex-wrap box-size justify-content-between">
          <a class="dropdown-item w-50" href="tinthethao.html">Bóng đá</a>
          <a class="dropdown-item w-50" href="#">Đạp xe</a>
          <a class="dropdown-item w-50" href="#">Bóng chày</a>
          <a class="dropdown-item w-50" href="#">Đua xe</a>
          <a class="dropdown-item w-50" href="#">Golf</a>
          <a class="dropdown-item w-50" href="#">Bóng bầu dục</a>
          <a class="dropdown-item w-50" href="#">Boxing</a>
          <a class="dropdown-item w-50" href="#">Esport</a>
          <a class="dropdown-item w-50" href="#">Tennis</a>
          <a class="dropdown-item w-50" href="#">Bóng chuyền</a>
        </div>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link active w-auto" href="video.html">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active w-auto" href="dudoanchuyengia.html">Chuyên gia</a>
      </li>
    </ul>
    <form>
      <input type="search" name="search" id="searchs" placeholder="Tìm kiếm">
      <i class="fas fa-search"></i>
    </form>
  </div>
</nav>
	</div>
	</div>
	</header>
  <script type="text/javascript">
    var blogPosts = [
    {
      category:"Tin tức",
     title: "Anh em nhà Hazard hủy diệt, Bỉ hủy diệt Nga",
      img: "https://www.thenational.ae/image/policy:1.938467:1573965050/08002099.jpg?f=16x9&ư$p$f$w=258f6a0",
      sport: "Bóng đá",
      time:"12/11/2019 12:00a.m",
      content: "Hai anh em nhà Hazard có một ngày thi đấu thăng hoa, qua đó giúp Bỉ mang về chiến thắng đậm trước Nga tại vòng loại EURO 2020.",
      href:"doctintuc.html"
    },
    {
      category:"Chuyên gia",
      title: "Dự đoán kết quả vòng 5 Ngoại hạng Anh cùng chuyên gia Charlie Nicholas",
      img: "https://cdn.bongda365.com/media/2019/10/liverpool-vs-tottenham--400x230.jpg",
      sport: "Bóng đá",
      time:"13/11/2019 2:00 p.m",
      content:"Sau thời gian nhường chỗ cho các giải đấu thuộc đội tuyển quốc gia, Ngoại hạng Anh sẽ trở lại vào đêm nay. Và chuyên gia bóng đá Charlie Nicholas đã trở lại với những dự đoán về kết quả các trận đấu thuộc vòng 5.",
      href:"tinchuyengia.html"
    },
    {
      category:"video",
      title: "Video Highlight: Cagliari & Inter Milan",
      img: "https://cdn.24h.com.vn/upload/1-2020/images/2020-01-15/Video-highlight-tran-Inter-Milan---Cagliari-Choi-loi-Lukaku-dai-tiec-5-ban-man-nhan-i2-1579041994-564-width660height432.jpg",
      sport:"Bóng đá",
      time:"14/11/2019 3:00 p.m",
      content:"Video highlight trận Inter Milan - Cagliari: Chói lọi Lukaku, đại tiệc 5 bàn mãn nhãn",
      href:"doctinvideo.html"
    },
    {
      category:"Tin tức",
      title:"Dhoni mất hợp đồng trung ương Ấn Độ",
      img:"https://e2.365dm.com/19/07/384x216/skysports-ms-dhoni-india-cricket_4714557.jpg?20200116114034",
      sport:"Bóng chày",
      time:"15/11/2019 5:00 p.m",
      content:"Sự nghiệp Ấn Độ của MS Dhoni có thể kết thúc với việc người chơi cờ lê kỳ cựu mất hợp đồng trung tâm vào năm 2020.",
      href:"#"
    }
  ];  
  

      $('#searchs').keyup(function(){
        var strs=$(this).val()
        let z=0
      if(strs.length<4){
      $('main').css('display','block')
      $('.displaynone').css('display','none')
    }else{
        $('main').css('display','none')
        $('.displaynone').empty()
        $('.displaynone').css('display','block')
        $.each(blogPosts,function(index,value){
          var stringreplace=value.title.toLowerCase()
        if(stringreplace.indexOf(strs.toLowerCase())!=-1||(strs.toLowerCase().indexOf(value.sport.toLowerCase())!=-1)||(strs.toLowerCase().indexOf(value.category.toLowerCase())!=-1)){
        if(value.category=="video"){
          $('.displaynone').append(`
          <a href="${value.href}" style="position:relative;" class="d-flex flex-column flex-sm-row col-12 mt-4 w-100">
          <img src="${value.img}" class="w-50" alt="">
          <i class="far fa-play-circle fa-3x" style="position: absolute; bottom:5%; left: 5%; transform: translateX(-50%) translateY(-50%); color:white;"></i>
        <div class="ml-2 w-50">
          <p class="titles">${value.title}</p>
          <div class="d-flex w-100 justify-content-between mb-3">
          <p class="blues">${value.sport}</p>
          <p style="color:#c4c4c4;">${value.time}</p>
          </div>
          <p class="contentss">${value.content}</p>
        </div>
        </a>
          `)
      }else{
        $('.displaynone').append(`
          <a href="${value.href}" class="d-flex flex-column flex-sm-row col-12 mt-4 w-100">
          <img src="${value.img}" class="w-50" alt="">
        <div class="ml-2 w-50">
          <p class="titles">${value.title}</p>
          <div class="d-flex w-100 justify-content-between mb-3">
          <p class="blues">${value.sport}</p>
          <p style="color:#c4c4c4;">${value.time}</p>
          </div>
          <p class="contentss">${value.content}</p>
        </div>
        </a>
          `)
      }
    }else{
      z++
    }
        })
        if(z==blogPosts.length){
        $('.displaynone').append(`<h2 class="mt-4 w-100 text-center">Không có kết quả nào được tìm thấy</h2>`)
        }
      }
})
$('form input').click(function(){
  $(this).css('background','white')
})
$(document).mouseup(function(e){
    var container = $(".dits form input");

    // If the target of the click isn't the container
    if(!container.is(e.target) && container.has(e.target).length === 0){
        container.css('background','unset');
    }
});
  </script>