	<div class="w-100 side-bar d-flex align-items-center flex-column">
	<div class="hot-related-news">
	<div class="hot">
	<p>Tin hot bóng đá</p>
	<div></div>
	</div>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>1</p>
		<p>Bảng đấu U23 Châu Á 2020: Việt Nam đi tiếp, Thái Lan bị loại sớm </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>2</p>
		<p>Tin chuyển nhượng V-League: Đức Huy không sang Thái Lan </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>3</p>
		<p>Sint-Truiden 'trả giá' vì bán Công Phượng </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>4</p>
		<p>Bầu Hiển: 'Heerenveen từ chối lời đề nghị của HLV Park Hang Seo về Văn Hậu'</p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>5</p>
		<p>Đội hình mạnh nhất U23 Việt Nam đá VCK U23 Châu Á 2020 </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>6</p>
		<p>Thể thức thi đấu, cách tính điểm xếp hạng U23 Châu Á 2020 </p>
	</a>
	</div>
	<div class="schedule-result w-100 mt-5">
		<div class="title text-center">Lịch thi đấu & Kết quả</div>
		<div class="block pt-1 pl-3 pr-3">
			<div class="date">Thứ 5, ngày 7 tháng 11</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>EL</p>
				<div class="d-flex justify-content-between w-auto">
					<p>Lazio</p>
					<div class="ratio pt-1 pb-1 pl-2 pr-2 ml-2 mr-2">1-2</div>
					<p>Celtic</p>
				</div>
				<p>FT</p>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>EL</p>
				<div class="d-flex justify-content-between w-auto">
					<p>Lazio</p>
					<div class="ratio pt-1 pb-1 pl-2 pr-2 ml-2 mr-2">1-2</div>
					<p>Celtic</p>
				</div>
				<p>FT</p>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>EL</p>
				<div class="d-flex justify-content-between w-auto">
					<p>Lazio</p>
					<div class="ratio pt-1 pb-1 pl-2 pr-2 ml-2 mr-2">1-2</div>
					<p>Celtic</p>
				</div>
				<p>FT</p>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>EL</p>
				<div class="d-flex justify-content-between w-auto">
					<p>Lazio</p>
					<div class="ratio pt-1 pb-1 pl-2 pr-2 ml-2 mr-2">1-2</div>
					<p>Celtic</p>
				</div>
				<p>FT</p>
			</div>
			<div class="date mt-3">Thứ 5, ngày 7 tháng 11</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>PREM</p>
				<div class="d-flex justify-content-between w-auto">
					<p class="font-weight-bold">Tottenam</p>
					<div class="ml-2 mr-2">12:30</div>
					<p class="font-weight-bold">Brighton</p>
				</div>
				<p></p>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>PREM</p>
				<div class="d-flex justify-content-between w-auto">
					<p class="font-weight-bold">A Villa</p>
					<div class="ml-2 mr-2">12:30</div>
					<p class="font-weight-bold">Norwich</p>
				</div>
				<p></p>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>CHA</p>
				<div class="d-flex justify-content-between w-auto">
					<p class="font-weight-bold">Barnsley</p>
					<div class="ml-2 mr-2">15:00</div>
					<p class="font-weight-bold">W'Born</p>
				</div>
				<p></p>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<p>PREM</p>
				<div class="d-flex justify-content-between w-auto">
					<p class="font-weight-bold">Chelsea</p>
					<div class="ml-2 mr-2">15:00</div>
					<p class="font-weight-bold">So'ton</p>
				</div>
				<p></p>
			</div>

		</div>
	</div>
	</div>