	<div class="w-100 side-bar d-flex align-items-center flex-column">
	<div class="hot-related-news">
	<div class="hot">
	<p>Tin hot bóng đá</p>
	<div></div>
	</div>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>1</p>
		<p>Bảng đấu U23 Châu Á 2020: Việt Nam đi tiếp, Thái Lan bị loại sớm </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>2</p>
		<p>Tin chuyển nhượng V-League: Đức Huy không sang Thái Lan </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>3</p>
		<p>Sint-Truiden 'trả giá' vì bán Công Phượng </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>4</p>
		<p>Bầu Hiển: 'Heerenveen từ chối lời đề nghị của HLV Park Hang Seo về Văn Hậu'</p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>5</p>
		<p>Đội hình mạnh nhất U23 Việt Nam đá VCK U23 Châu Á 2020 </p>
	</a>
	<a href="#" class="a w-100 d-flex justify-content-between pt-4 pb-4">
		<p>6</p>
		<p>Thể thức thi đấu, cách tính điểm xếp hạng U23 Châu Á 2020 </p>
	</a>
	</div>
	<div class="schedule-result w-100 mt-5">
		<div class="title text-center">Lịch thi đấu & Kết quả</div>
		<div class="block pt-1 pl-1 pr-1">
			<div class="date">Thứ 5, ngày 7 tháng 11</div>
			<div class=" result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 40%;">
					<p>EL</p>
					<p class="font-weight-bold">Lazio</p>
				</div>
				<p class="ml-1 mr-1 ratio pt-1 pb-1 pl-2 pr-2">1-2</p>
				<div class="d-flex justify-content-between" style="width: 40%;">
				<p class="font-weight-bold">Celtic</p>
				<p>FT</p>
				</div>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 40%;">
					<p>EL</p>
					<p class="font-weight-bold">Lazio</p>
				</div>
				<p class="ml-1 mr-1 ratio pt-1 pb-1 pl-2 pr-2">1-2</p>
				<div class="d-flex justify-content-between" style="width: 40%;">
				<p class="font-weight-bold">Celtic</p>
				<p>FT</p>
				</div>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 40%;">
					<p>EL</p>
					<p class="font-weight-bold">Lazio</p>
				</div>
				<p class="ml-1 mr-1 ratio pt-1 pb-1 pl-2 pr-2">1-2</p>
				<div class="d-flex justify-content-between" style="width: 40%;">
				<p class="font-weight-bold">Celtic</p>
				<p>FT</p>
				</div>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 40%;">
					<p>EL</p>
					<p class="font-weight-bold">Lazio</p>
				</div>
				<p class="ml-1 mr-1 ratio pt-1 pb-1 pl-2 pr-2">1-2</p>
				<div class="d-flex justify-content-between" style="width: 40%;">
				<p class="font-weight-bold">Celtic</p>
				<p>FT</p>
				</div>
			</div>
			<div class="date mt-3">Thứ 5, ngày 7 tháng 11</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 45%;">
					<p>PREM</p>
					<p class="font-weight-bold">Tottenam</p>
				</div>
				<p class="ml-1 mr-1">12:30</p>
				<div class="d-flex justify-content-between" style="width: 45%;">
				<p class="font-weight-bold">Brighton</p>
				<p></p>
				</div>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 45%;">
					<p>PREM</p>
					<p class="font-weight-bold">A Villa</p>
				</div>
				<p class="ml-1 mr-1">12:30</p>
				<div class="d-flex justify-content-between" style="width: 45%;">
				<p class="font-weight-bold">Norwich</p>
				<p></p>
				</div>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 45%;">
					<p>CHA</p>
					<p class="font-weight-bold">Barnsley</p>
				</div>
				<p class="ml-1 mr-1">15:00</p>
				<div class="d-flex justify-content-between" style="width: 45%;">
				<p class="font-weight-bold">W'Born</p>
				<p></p>
				</div>
			</div>
			<div class="result w-80 d-flex justify-content-between pt-2 pb-2">
				<div class="d-flex justify-content-between" style="width: 45%;">
					<p>PREM</p>
					<p class="font-weight-bold">Chelsea</p>
				</div>
				<p class="ml-1 mr-1">15:00</p>
				<div class="d-flex justify-content-between" style="width: 45%;">
				<p class="font-weight-bold">So'ton</p>
				<p></p>
				</div>
			</div>
		</div>
	</div>
	</div>